/**
 * Reset
 * 
 */
.CodeMirror .CodeMirror-scroll {
    background-color: transparent;
}

.cm-s-base16-dark span.CodeMirror-matchingbracket,
.cm-s-base16-dark span.CodeMirror-matchingtag {
	background: #292929 !important;
}

.inline-widget {
  background: #151515;
}

.inline-widget .CodeMirror-gutter,
.inline-widget .CodeMirror-linenumbers {
  background-color:  transparent !important;
}

.inline-widget .close,
.inline-widget .inline-editor-header .filename {
  color: #8a8a8a !important;
  text-shadow: none;
}

.inline-widget .inline-editor-header .btn {
  border: 1px solid #333434;
  background-color: #3f4041;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
}

.inline-widget .inline-editor-header .btn:hover {
  background-color: #626465;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
}

.inline-widget .shadow.top {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.inline-widget .shadow.bottom {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.cm-s-base16-dark ::-webkit-scrollbar {
  background: #151515;
}

.cm-s-base16-dark ::-webkit-scrollbar-thumb {
  background: #3c3f41;
  border-color: #151515;
}

.CodeMirror .CodeMirror span.CodeMirror-matchingbracket {
  color: white !important;
}

/**
 * Base16 Theme
 * 
 */

.cm-s-base16-dark.CodeMirror {background: #151515; color: #e0e0e0;}
.cm-s-base16-dark div.CodeMirror-selected {background: #202020 !important;}
.cm-s-base16-dark .CodeMirror-gutters {background: #151515; border-right: 0px;}
.cm-s-base16-dark .CodeMirror-linenumber {color: #505050;}
.cm-s-base16-dark .CodeMirror-cursor {border-left: 1px solid #b0b0b0 !important;}

.cm-s-base16-dark span.cm-comment {color: #8f5536;}
.cm-s-base16-dark span.cm-atom {color: #aa759f;}
.cm-s-base16-dark span.cm-number {color: #aa759f;}

.cm-s-base16-dark span.cm-property, .cm-s-base16-dark span.cm-attribute {color: #90a959;}
.cm-s-base16-dark span.cm-keyword {color: #ac4142;}
.cm-s-base16-dark span.cm-string {color: #f4bf75;}

.cm-s-base16-dark span.cm-variable {color: #90a959;}
.cm-s-base16-dark span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-dark span.cm-def {color: #d28445;}
.cm-s-base16-dark span.cm-bracket {color: #e0e0e0;}
.cm-s-base16-dark span.cm-tag {color: #ac4142;}
.cm-s-base16-dark span.cm-link {color: #aa759f;}
.cm-s-base16-dark span.cm-error {background: #ac4142; color: #b0b0b0;}

.cm-s-base16-dark .CodeMirror-activeline-background {background: #2F2F2F !important;}
.cm-s-base16-dark span.CodeMirror-matchingbracket {color: white !important;}
