body {
    font-family: 'Droid Sans', Ubuntu, 'Dejavu Sans', SourceSansPro, Helvetica, Arial, 'Meiryo UI', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#titlebar,
#main-toolbar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #3c3f41;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 14px;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #fff;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    color: #fff;
    font-size: 13px;
}

.toolbar .nav .dropdown-toggle:hover {
    color: inherit;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}

.dropdown-toggle:hover,
.dropdown.open .dropdown-toggle {
    background: #dfe2e2 !important;
    border-color: #d0d5d5 !important;
}

.dropdown-menu li a:hover,
.dropdown-menu li a.highlight {
    background: #dfe2e2 !important;
}

.dropdown-menu li a.disabled:hover {
    background: #fff !important;
}

.inline-widget {
  background: #151515;
}

.inline-widget .CodeMirror-gutter,
.inline-widget .CodeMirror-linenumbers {
  background-color:  transparent !important;
}

.inline-widget .close,
.inline-widget .inline-editor-header .filename {
  color: #8a8a8a !important;
  text-shadow: none;
}

.inline-widget .inline-editor-header .btn {
  border: 1px solid #333434;
  background-color: #3f4041;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
}

.inline-widget .inline-editor-header .btn:hover {
  background-color: #626465;
  color: #c6c8c8;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
}

.inline-widget .shadow.top {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.inline-widget .shadow.bottom {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.CodeMirror .CodeMirror-scroll {
    background-color: transparent;
}
