/*

    Name:       Base16 Twilight Dark
    Author:     David Hart (http://hart-dev.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

 */
.cm-s-base16-twilight-dark ::-webkit-scrollbar {
  background: #1e1e1e;
}

.cm-s-base16-twilight-dark ::-webkit-scrollbar-thumb {
  background: #5d5f60;
  border-color: #1e1e1e;
}

.cm-s-base16-twilight-dark .CodeMirror-cursors {z-index: 3;}

.cm-s-base16-twilight-dark.CodeMirror {background: #1e1e1e; color: #c3c3c3;}
.cm-s-base16-twilight-dark div.CodeMirror-selected {background: #323537 !important;}
.cm-s-base16-twilight-dark .CodeMirror-gutters {background: #1e1e1e; border-right: 0px;}
.cm-s-base16-twilight-dark .CodeMirror-linenumber {color: #5f5a60;}
.cm-s-base16-twilight-dark .CodeMirror-cursor,
.cm-s-base16-twilight-dark .CodeMirror-cursors .CodeMirror-cursor {border-left: 1px solid #f0f0f0 !important;}

.cm-s-base16-twilight-dark span.cm-comment {color: #9b703f;}
.cm-s-base16-twilight-dark span.cm-atom {color: #9b859d;}
.cm-s-base16-twilight-dark span.cm-number {color: #9b859d;}

.cm-s-base16-twilight-dark span.cm-property, .cm-s-base16-twilight-dark span.cm-attribute {color: #8f9d6a;}
.cm-s-base16-twilight-dark span.cm-keyword {color: #cf6a4c;}
.cm-s-base16-twilight-dark span.cm-string {color: #f9ee98;}

.cm-s-base16-twilight-dark span.cm-variable {color: #8f9d6a;}
.cm-s-base16-twilight-dark span.cm-variable-2 {color: #7587a6;}
.cm-s-base16-twilight-dark span.cm-def {color: #cda869;}
.cm-s-base16-twilight-dark span.cm-error {background: #cf6a4c; color: #ffffff !important;}
.cm-s-base16-twilight-dark span.cm-bracket {color: #c3c3c3;}
.cm-s-base16-twilight-dark span.cm-tag {color: #cf6a4c;}
.cm-s-base16-twilight-dark span.cm-link {color: #9b859d;}

.cm-s-base16-twilight-dark .CodeMirror-matchingbracket {color: white !important;}

.cm-s-base16-twilight-dark .CodeMirror-activeline-background {
  background: #323537 !important;
}

.cm-s-base16-twilight-dark .CodeMirror-activeline .CodeMirror-gutter-elt {
  background: transparent !important;
  color: #5f5a60 !important
}

.cm-s-base16-twilight-dark span.CodeMirror-matchingbracket,
.cm-s-base16-twilight-dark span.CodeMirror-matchingtag {
  background: #545658 !important;
}

