/*

    Name:       Base16 Railscasts Dark
    Author:     Ryan Bates (http://railscasts.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-railscasts-dark ::-webkit-scrollbar {
    background: #2b2b2b;
}

.cm-s-base16-railscasts-dark ::-webkit-scrollbar-thumb {
    background: #5d5f60;
    border-color: #2b2b2b;
}

.cm-s-base16-railscasts-dark .CodeMirror-cursors {
    z-index: 3;
}

.cm-s-base16-railscasts-dark.CodeMirror {
    background: #2b2b2b;
    color: #f4f1ed;
}

.cm-s-base16-railscasts-dark div.CodeMirror-selected {
    background: #272935 !important;
}

.cm-s-base16-railscasts-dark .CodeMirror-gutters {
    background: #2b2b2b;
    border-right: 0px;
}

.cm-s-base16-railscasts-dark .CodeMirror-linenumber {
    color: #5a647e;
}

.cm-s-base16-railscasts-dark .CodeMirror-cursor,
.cm-s-base16-railscasts-dark .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 1px solid #f0f0f0 !important;
}

.cm-s-base16-railscasts-dark span.cm-comment {
    color: #bc9458;
}

.cm-s-base16-railscasts-dark span.cm-atom {
    color: #b6b3eb;
}

.cm-s-base16-railscasts-dark span.cm-number {
    color: #b6b3eb;
}

.cm-s-base16-railscasts-dark span.cm-property,
.cm-s-base16-railscasts-dark span.cm-attribute {
    color: #a5c261;
}

.cm-s-base16-railscasts-dark span.cm-keyword {
    color: #da4939;
}

.cm-s-base16-railscasts-dark span.cm-string {
    color: #ffc66d;
}

.cm-s-base16-railscasts-dark span.cm-variable {
    color: #a5c261;
}

.cm-s-base16-railscasts-dark span.cm-variable-2 {
    color: #6d9cbe;
}

.cm-s-base16-railscasts-dark span.cm-def {
    color: #cc7833;
}

.cm-s-base16-railscasts-dark span.cm-error {
    background: #da4939;
    color: #f9f7f3 !important;
}

.cm-s-base16-railscasts-dark span.cm-bracket {
    color: #f4f1ed;
}

.cm-s-base16-railscasts-dark span.cm-tag {
    color: #da4939;
}

.cm-s-base16-railscasts-dark span.cm-link {
    color: #b6b3eb;
}

.cm-s-base16-railscasts-dark .CodeMirror-matchingbracket {
    color: white !important;
}

.cm-s-base16-railscasts-dark .CodeMirror-activeline-background {
    background: #272935 !important;
}

.cm-s-base16-railscasts-dark .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: transparent !important;
    color: #5a647e !important
}

.cm-s-base16-railscasts-dark span.CodeMirror-matchingbracket,
.cm-s-base16-railscasts-dark span.CodeMirror-matchingtag {
    background: #4a4b54 !important;
}

.cm-s-base16-railscasts-dark span.CodeMirror-matchingbracket {
    color: white !important;
}
