/*

    Name:       Base16 Tomorrow Dark
    Author:     Chris Kempson (http://chriskempson.com)

	Brackets Template by Amit Mendapara (https://github.com/cristatus)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

.cm-s-base16-tomorrow-dark .cm-keyword {color: #b294bb;}
.cm-s-base16-tomorrow-dark .cm-atom {color: #de935f;}
.cm-s-base16-tomorrow-dark .cm-number {color: #de935f;}
.cm-s-base16-tomorrow-dark .cm-def {color: #81a2be;}
.cm-s-base16-tomorrow-dark .cm-punctuation {color: #b294bb;}
.cm-s-base16-tomorrow-dark .cm-property {color: #81a2be;}
.cm-s-base16-tomorrow-dark .cm-operator {color: #c5c8c6;}
.cm-s-base16-tomorrow-dark .cm-variable {color: #cc6666;}
.cm-s-base16-tomorrow-dark .cm-variable-2 {color: #cc6666;}
.cm-s-base16-tomorrow-dark .cm-variable-3 {color: #cc6666;}
.cm-s-base16-tomorrow-dark .cm-comment {color: #969896;}
.cm-s-base16-tomorrow-dark .cm-string {color: #b5bd68;}
.cm-s-base16-tomorrow-dark .cm-string-2 {color: #8abeb7;}
.cm-s-base16-tomorrow-dark .cm-meta {color: #a3685a;}
.cm-s-base16-tomorrow-dark .cm-qualifier {color: #c5c8c6;}
.cm-s-base16-tomorrow-dark .cm-builtin {color: #b294bb;}
.cm-s-base16-tomorrow-dark .cm-bracket {color: #c5c8c6;}
.cm-s-base16-tomorrow-dark .cm-tag {color: #cc6666;}
.cm-s-base16-tomorrow-dark .cm-attribute {color: #de935f;}
.cm-s-base16-tomorrow-dark .cm-header {color: #81a2be;}
.cm-s-base16-tomorrow-dark .cm-quote {color: #de935f;}
.cm-s-base16-tomorrow-dark .cm-hr {color: #c5c8c6; background-color: #373b41;}
.cm-s-base16-tomorrow-dark .cm-link {color: #cc6666;}

.cm-s-base16-tomorrow-dark .cm-error,
.cm-s-base16-tomorrow-dark .cm-invalidchar {color: #ffffff !important; background: #cc6666;}

.cm-s-base16-tomorrow-dark.CodeMirror {
    background: #1d1f21;
    color: #c5c8c6;
}

.cm-s-base16-tomorrow-dark div.CodeMirror-selected {
    background: rgba(160, 160, 160, 0.33) !important;
}

.cm-s-base16-tomorrow-dark .CodeMirror-linenumber {
    color: #969896;
}

.cm-s-base16-tomorrow-dark .CodeMirror-gutters {
    background: #1d1f21;
    color: #c5c8c6;
    border-right: 0px;
}

.cm-s-base16-tomorrow-dark .CodeMirror-cursor,
.cm-s-base16-tomorrow-dark .CodeMirror-cursors .CodeMirror-cursor {
    border-left: 1px solid #f0f0f0 !important;
    z-index: 3;
}

.cm-s-base16-tomorrow-dark div.CodeMirror-overwrite div.CodeMirror-cursor {
    border: none !important;
    border-bottom: 1px solid #f0f0f0 !important;
}

.cm-s-base16-tomorrow-dark .CodeMirror-matchingbracket {
    color: white !important;
}

.cm-s-base16-tomorrow-dark .CodeMirror-activeline-background {
    background: rgba(80, 80, 80, 0.33) !important;
}

.cm-s-base16-tomorrow-dark .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: transparent !important;
    color: #373b41 !important
}

.cm-s-base16-tomorrow-dark span.CodeMirror-matchingbracket,
.cm-s-base16-tomorrow-dark span.CodeMirror-matchingtag {
    background: #373b41 !important;
}

.cm-s-base16-tomorrow-dark span.CodeMirror-matchingbracket {
    color: white !important;
}
